/*
Arie Williams
Oct. 17 2018
*/

a{
  font-weight: bold;
}
h.bigHead{
  font-family: Helveltica;
  font-weight: bold;
  font-size: 2.5em;
  margin: auto;
}

#btt{
  font-size:15px;
  display: block;
  height: 35px;
  width: 100px;
  margin: 15px;
}
em{
  padding: 10px;
  font-size: 15px;
}
